.screen {
	background-color: #202124;
	color: #fff;
	width: 616px;
	height: 70px; 
	margin: 0 0 12px;
	padding: 0 14px 0 10px; 
	font-size: 30px;
	text-align: right;
	border-radius: 8px;
	border: 1px solid #303134;
}

input:hover {
	background-color: #303134;
	border-color: #303134;
	color: #fff;
}