.actions {
	font-size: 13px;
	background-color: #5f6368;
	color: #e8eaed;
	cursor: pointer;
	border: 1px solid #5f6368;
	border-radius: 4px;
	margin: 4px;
}

.actions:hover {
	background-color: #70757a;
	border-color: #70757a;
}
